.ui.stackable.inverted.divided.equal.height.stackable.grid
  .six.wide.column
    h4.ui.inverted.header About
    p Veritas is...
    //-.ui.inverted.link.list
      a.item(href="#") Protocol
      a.item(href="#") Whitepaper
      a.item(href="#") Roadmap
      a.item(href="#") Contact Us
  .seven.wide.column
    h4.ui.inverted.header Copyright
    p Content is &copy; Veritas Group, 2016,  All Rights Reserved
  .three.wide.column
    h4.ui.inverted.header Elsewhere
    .ui.inverted.link.list
      a.item(href="https://twitter.com/martindale", rel="me")
        i.icon.twitter
        |  Twitter
      a.item(href="#", rel="me")
        i.icon.medium
        |  Medium
