.ui.stackable.inverted.divided.equal.height.stackable.grid
  .six.wide.column
    h4.ui.inverted.header About
    p Veritas is excited to be building a better society, together with a family of excellent clients.  We are thankful for the many who have made this possible along the way, and would love to see you join us.
    //-.ui.inverted.link.list
      a.item(href="#") Protocol
      a.item(href="#") Whitepaper
      a.item(href="#") Roadmap
      a.item(href="#") Contact Us
  .seven.wide.column
    h4.ui.inverted.header Legal
    p &copy; Veritas Group, Inc. 2016,  All Rights Reserved
  .three.wide.column
    h4.ui.inverted.header Elsewhere
    .ui.inverted.link.list
      a.item(href="https://twitter.com/victoriavaneyk")
        i.icon.twitter
        |  Twitter
      //-a.item(href="#", rel="me")
        i.icon.medium
        |  Medium
