.ui.vertical.stripe.segment(style="margin-top: 6em; margin-bottom: 6em;")
  .ui.text.container
    form.ui.huge.form(action="/inquiries", method="POST")
      .massive.field
        label Your Email
        input(type="email", name="from", required, placeholder="you@yourdomain.org")
    
      .massive.field
        label Your message
        textarea(name="message", placeholder="What can we help you with?")
        
      .massive.field
        button.ui.massive.green.right.floated.right.labeled.icon.button(type="submit")
          span
            i.icon.mail
          | &nbsp; Submit
          i.icon.right.chevron
      
      .clearfix(style="clear: both;")
