extends ../node_modules/maki/views/layouts/default

block masthead
  style.
    .masthead {
      //background: url('/images/driving-through-city.gif');
      //background: url('/images/lanterns.gif');
      background: url('/images/snowing-city.gif');
      background: url('/images/moving-through-city.gif');
      background: url('/images/flying-over-city.gif');
      background-size: cover;
    }
    
    .masthead .ui.inverted.segment {
      background-color: inherit;
    }

  .ui.center.aligned.inverted.segment
    h1.ui.inverted.header #{config.service.pitch}
    h2.ui.inverted.header #{config.service.mission}

    form.ui.form(action="/subscriptions", method="POST", style="margin-top: 4em;")
      .field
        .ui.huge.action.input
          input(name="email", placeholder="enter your email", required)
          button.ui.huge.primary.right.labeled.icon.button(type="submit")
            span
              i.icon.rss
            | &nbsp;&nbsp;&nbsp;Subscribe
            i.right.chevron.icon

    h3.ui.inverted.header(style="margin-top: 4em;") We're excited to share our thoughts with you.  Subcribe to tune in.

//- left as an example for prepending
//- TODO: include this in the Maki.io example
//-prepend navbar
  a.item(href="/values")
    i.icon.university
    | &nbsp; Values

append navbar
  //- TODO: attach as a sub-service at this route
  //-a.item(href="/snippets/what-is-bitcoin")
    i.icon.bitcoin
    |  What is Bitcoin?

  a.right.item(href="https://twitter.com/victoriavaneyk")
    i.icon.twitter.alt
    | @victoriavaneyk

block content
  //-.ui.vertical.stripe.center.aligned.segment(style="margin-top: 6em;")
    .ui.container
      h2 #{config.service.description}
      
  .ui.vertical.stripe.center.aligned.segment
    .ui.text.container
      h3.ui.horizontal.header.divider Inquiries
      
  include partials/inquiry-segment
      
  //-.ui.vertical.stripe.center.aligned.segment
    .ui.text.container
      h3.ui.horizontal.header.divider Meet the Team
      p We believe in trust.  We stand by our work, so come say hello!

      .ui.two.doubling.cards(style="margin-top: 6em; margin-bottom: 6em;")
        .card
          .image
            img(src="/images/victoria-van-eyk.jpg")
          .content
            .header Victoria van Eyk
          .extra.content
            a(href="https://twitter.com/victoriavaneyk")
              i.icon.twitter
              | @victoriavaneyk
        .card
          .image
            img(src="/images/eric-martindale.jpg")
          .content
            .header Eric Martindale
          .extra.content
            a(href="https://twitter.com/martindale")
              i.icon.twitter
              | @martindale

block footer
  include partials/footer
